<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>grade</mat-icon>
  </button>
  <span>TEST</span>
  <span class="example-spacer"></span>
  <button mat-stroked-button  (click)="openDialog()">Add Company Staff</button>
</mat-toolbar>
<table class="tableData" style="border-collapse: collapse; margin: auto; margin-top: 40px;" [cellPadding]="4" [width]="1000">
  <tr>
    <td style="border: 1px solid #000;" align="center">Name</td>
    <td style="border: 1px solid #000;" align="center">User Type</td>
    <td style="border: 1px solid #000;" align="center">Entity</td>
    <td style="border: 1px solid #000;" align="center">Status</td>
    <td style="border: 1px solid #000;" align="center">Action</td>
  </tr>
  <tr>
    <td style="border: 1px solid #000;" align="center">PETAT ANDRE Mr</td>
    <td style="border: 1px solid #000;" align="center"><button mat-flat-button color="warn">Mentor</button></td>
    <td style="border: 1px solid #000;" align="center">Company</td>
    <td style="border: 1px solid #000;" align="center"><mat-icon>check_circle</mat-icon></td>
    <td style="border: 1px solid #000;" align="center">
    	<mat-icon>create</mat-icon>
      <mat-icon>drafts</mat-icon>
      <mat-icon>clear</mat-icon>
    </td>
  </tr>
</table>

